In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
594,tt0266391,7000000,3646994,The Cat's Meow,Kirsten Dunst|Edward Herrmann|Eddie Izzard|Car...,Peter Bogdanovich,Some secrets won't stay buried.,Semi-true story of the Hollywood murder that o...,114,Drama|Mystery|Thriller,Lions Gate Films|Dan Films|CP Medien AG,8/3/2001,5.7,2001
686,tt0406759,12000000,56309766,The Eye,Jessica Alba|Alessandro Nivola|Parker Posey|Ra...,David Moreau|Xavier Palud,How can you believe your eyes when they're not...,Violinist Sydney Wells was accidentally blinde...,98,Drama|Horror|Thriller,Paramount Vantage|VN Productions,2/1/2008,5.6,2008
256,tt1156398,23600000,102391382,Zombieland,Jesse Eisenberg|Woody Harrelson|Emma Stone|Abi...,Ruben Fleischer,This place is so dead,Columbus has made a habit of running from what...,88,Comedy|Horror,Columbia Pictures,10/7/2009,7.1,2009
830,tt1578275,70000000,67112664,The Dilemma,Kevin James|Vince Vaughn|Winona Ryder|Jennifer...,Ron Howard,Two best friends. Nothing could come between t...,Longtime friends Ronny and Nick are partners i...,111,Comedy|Drama,Imagine Entertainment|Universal Pictures|Spygl...,1/13/2011,5.2,2011
1391,tt0418819,15000000,46770602,Land of the Dead,Simon Baker|John Leguizamo|Dennis Hopper|Rober...,George A. Romero,The dead shall inherit the Earth.,The world is full of zombies and the survivors...,93,Horror,Universal Pictures|Atmosphere Entertainment MM...,6/24/2005,5.8,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# создание новой колонки для расчета прибыли каждого фильма
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)

# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# запишите свой вариант ответа
answers['1'] = '723.Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157.Gods and Generals (tt0279111)'

In [9]:
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '68.Winnie the Pooh (tt1449283)'

In [11]:
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = 107

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '239.Avatar (tt0499549)'

In [17]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '1245.The Lone Ranger (tt1210819)'

In [19]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = 1478

In [21]:
data.imdb_id[data.revenue > data.budget ].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] ='599.The Dark Knight (tt0468569)'

In [23]:
data2008 = data[data.release_year == 2008]
data2008.original_title[data2008.revenue == data2008.revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] ='1245.The Lone Ranger (tt1210819)'

In [25]:
data2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data2.original_title[data2.profit == data2.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11=data.copy()
data11['genres']=data11['genres'].str.split('|')
data11=data11.explode('genres').copy()
data11['genres'].value_counts().index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama'

In [29]:
data12=data.copy()
data12['genres']=data12[data12['profit']>0]['genres'].str.split('|')
data12=data12.explode('genres').copy()
data12['genres'].value_counts(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = 'Peter Jackson'

In [31]:
data13=data.copy()
data13['director']=data13['director'].str.split('|')
data13=data.explode('director')
data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth'

In [35]:
data2012=data[data.release_year==2012].copy()
data2012['cast']=data2012['cast'].str.split('|')
data2012=data2012.explode('cast')
data2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Action'

In [37]:
data_high=data[data.budget>data.budget.mean()].copy()
data_high['cast']=data_high['cast'].str.split('|')
data_high=data_high.explode('cast')
data_high.cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action'

In [39]:
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode('genres').mode()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [55]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [56]:
data18=data.copy()
data18['production_companies']=data18['production_companies'].str.split('|')
data18=data18.explode('production_companies')
data18=data18[(data18.production_companies=='Paramount Pictures')]
data18[(data18.profit==data18.profit.min())].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [61]:
answers['19'] = 2015

In [60]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [67]:
answers['20'] = 2014

In [66]:
data20=data.copy()
data20['production_companies']=data20['production_companies'].str.split('|')
data20=data20.explode('production_companies')
data20=data20[(data20.production_companies.str.contains('Warner Bros'))]
data20.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [71]:
answers['21'] = 9

In [70]:
data21=data.copy()
data21['release_month']=pd.to_datetime(data21.release_date).dt.month
data21.release_month.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [73]:
answers['22'] = 450

In [74]:
data21[(data21['release_month']>=6)&(data21['release_month']<=8)].release_month.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [76]:
answers['23'] = 'Peter Jackson'

In [75]:
data21=data21.query('release_month==12 | release_month==1 | release_month==2')
data21['director']=data21['director'].str.split('|')
data21=data21.explode('director')
data21.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
answers['24'] = 'Four By Two Productions'

In [80]:
data24=data.copy()
data24['production_companies']=data24['production_companies'].str.split('|')
data24=data24.explode('production_companies')
data24['title_len']=data24.apply(lambda x: len(x['original_title'].rstrip()), axis=1)
data24.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [88]:
answers['25'] = 'Midnight Picture Show'

In [86]:
data25=data.copy()
data25['production_companies']=data25['production_companies'].str.split('|')
data25=data25.explode('production_companies')
data25['number_words']=data25.apply(lambda x: len(x['overview'].split()), axis=1)
data25.groupby('production_companies')['number_words'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [89]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [87]:
data[data['vote_average']>np.percentile(data['vote_average'],99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [95]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [94]:
import itertools
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(itertools.combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [96]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723.Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157.Gods and Generals (tt0279111)',
 '3': '68.Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239.Avatar (tt0499549)',
 '7': '1245.The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599.The Dark Knight (tt0468569)',
 '10': '1245.The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Action',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [97]:
# и убедиться что ни чего не пропустил)
len(answers)

27