In [1]:
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [2]:
df.men.mean()

70.84

In [4]:
df.women.mean()

58.370000000000005

In [5]:
df.men.mean()-df.women.mean()

12.469999999999999

In [6]:
df.men.median()

75.6

In [7]:
df.women.median()

57.599999999999994

In [51]:
patients=[]
patients = df.men.copy()
patients

0    80.2
1    80.8
2    57.5
3    98.0
4    50.5
5    73.8
6    77.4
7    59.7
8    77.9
9    52.6
Name: men, dtype: float64

In [52]:
patients = patients.append(df.women)

In [53]:
patients.count()

20

In [54]:
patients

0    80.2
1    80.8
2    57.5
3    98.0
4    50.5
5    73.8
6    77.4
7    59.7
8    77.9
9    52.6
0    57.9
1    57.3
2    72.8
3    48.2
4    59.5
5    48.3
6    61.2
7    53.9
8    53.9
9    70.7
dtype: float64

In [56]:
patients.median()

59.6

In [67]:
round(df.quantile(q=0.75, axis=0, numeric_only=True, interpolation='midpoint'),2)

men      79.05
women    60.35
Name: 0.75, dtype: float64

In [68]:
df.min()

men      50.5
women    48.2
dtype: float64

In [69]:
df.max()

men      98.0
women    72.8
dtype: float64

In [70]:
round(df.quantile(q=0.25, axis=0, numeric_only=True, interpolation='midpoint'),2)

men      58.6
women    53.9
Name: 0.25, dtype: float64

In [71]:
df.std()

men      15.182534
women     8.271108
dtype: float64

In [72]:
df.var()

men      230.509333
women     68.411222
dtype: float64

In [74]:
import pandas as pd
df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})

In [78]:
df.std()

year    3.605551
temp    2.310844
dtype: float64

In [87]:
round(df.quantile(q=0.25, axis=0, numeric_only=True, interpolation='midpoint'),2)

year    2009.50
temp      -6.85
Name: 0.25, dtype: float64

In [88]:
round(df.quantile(q=0.75, axis=0, numeric_only=True, interpolation='midpoint'),2)

year    2015.50
temp      -4.95
Name: 0.75, dtype: float64

In [83]:
-5--6.8

1.7999999999999998

In [84]:
df.min()

year    2007.0
temp     -12.1
dtype: float64

In [86]:
df.max()

year    2018.0
temp      -3.1
dtype: float64